body{
    background: linear-gradient( #DDF2FD ,  #16486352 ,  #427D9D, #9BBEC8  );
}

.distination-layout-container{ /* main div */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    color: #164863;
    font-family: 'Agbalumo', serif;
     
}
.dist-layout /*this is inner div where located every single the destinations */
{
    border: 1px solid #164863;
    border-radius: 1px;
    box-shadow: 2px 2px 3px  #164863;
    flex-basis: calc(30%);
    flex-wrap: wrap;
    height: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background: linear-gradient( #DDF2FD ,  #16486352 ,  #427D9D, #9BBEC8  );
   
    
}
.dist-layout > a{
    text-decoration: none;
    color: #164863;
}


.dist-layout > a > img{ /* place where in linked href of landing pages */
    width:100%;
    object-fit:cover;
      transition: 1s ease;
  

} 
/*    this function for on hover th photo and photo can change dimension */
.dist-layout > a > img:hover{
    transform: scale(1.1);
    transition: 2s ease;
    opacity: 0.9;
    filter:contrast(2);   
    
}

.dist-layout > a  > h2{ 
    text-decoration: none;
    text-transform: uppercase;
       
}

@media (max-width:1199px)/*tablet */
{   
   p{
    font-size: 0.8rem;
     }
h1
{
    font-size: 1rem;
}
}
@media (max-width:879px)/*tablet */
{
         p{
                    font-size: 0.8rem;
     
}
h1
{
    font-size: 1rem;
}
}
@media (max-width:720px)/*tablet */
{
    
    p{
        font-size: 0.6rem; 
}
h1
{
    font-size: 1rem;

}
.dist-layout > a  > h2{ 
   font-size: 0.8rem;
       
}

}
@media (max-width:480px)/*tablet */
{
    .distination-layout-container
    {
        flex-direction: column;   }
    
    p{
        font-size: 0.4rem;   
}
h1
{
    font-size: 1rem;

}
}

