.image-slider-container {
    display: flex;
    height: 80vh;
    gap: 1px;

 
   

    }
.image-slider-container > div{
    flex: 1;
    
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.image-slider-container > div:hover{
    flex: 5;
}