body{
    background: linear-gradient( #DDF2FD ,  #16486352 ,  #427D9D, #9BBEC8  );
}

h1,h2,h3,h4,h5,h6,p,a
{
    text-decoration: none;
    color: #164863;
    font-family: 'Agbalumo', serif;
}
.distination-layout-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;

     
}
.dist-layout
{
    border: 1px solid #164863;
    border-radius: 1px;
    box-shadow: 2px 2px 3px  #164863;
    flex-basis: calc(30%);
    height: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: linear-gradient( #DDF2FD ,  #16486352 ,  #427D9D, #9BBEC8  );
    
}

.dist-layout img{
    width:100%;
    object-fit:cover;
     border: 1px double transparent;
    border-radius: 1px;
    
}

.dist-layout > a  > h2{
    text-decoration: none;
    text-transform: uppercase;
       
}

@media (max-width:1199px)/*tablet */
{   
   p{
    font-size: 0.8rem;
     }
h1
{
    font-size: 1rem;
}
}
@media (max-width:879px)/*tablet */
{
         p{
                    font-size: 0.8rem;
     
}
h1
{
    font-size: 1rem;
}
}
@media (max-width:715px)/*tablet */
{
    p{
        font-size: 0.6rem; 
}
h1
{
    font-size: 1rem;

}
}
@media (max-width:599px)/*tablet */
{
    
    p{
        font-size: 0.4rem;   
}
h1
{
    font-size: 1rem;

}
}

